@charset "utf-8";
* {
margin : 0;
padding : 0;
}
body {
font-size : 1.1em;
font-family : Arial, Helvetica, sans-serif;
background-color : lightgreen;
box-shadow : 10px 0 40px rgb(51, 51, 51), -10px 0 40px rgb(51, 51, 51);
border-left : 1px solid rgb(153, 0, 153);
border-right : 1px solid rgb(153, 0, 153);
height : 100%;
margin : 0 auto;
min-width : 320px;
max-width : 1200px;
width : 100%;
}
#container {
width : 930px;
margin : 0 auto;
background-color : white;
width : 960px;
border : #1227ac none thin;
position : relative;
min-height : 100%;
padding-bottom : 20px;
}
header {
background-color : #04AA6D;
width : 940px;
margin-bottom : 40px;
margin-top : 5px;
text-align : center;
border : #888888 solid 0;
box-shadow : 10px 10px 5px 0 #888888;
border-radius : 25px;
padding : 0.5em;
}
ul {
list-style-type : none;
margin : 0;
padding : 0;
overflow : hidden;
background-color : #3a6b35;
}
li {
float : left;
text-align : center;
font-size : 18px;
}
li a {
display : block;
color : white;
text-align : center;
padding : 14px 16px;
text-decoration : none;
width : 100%;
}
li a:hover {
background-color : white;
}
.SearchBar {
top : 355px;
}
.search button {
background-color : #0074D9;
color : #f2f2f2;
float : right;
padding : 5px 10px;
margin-right : 16px;
font-size : 12px;
border : none;
cursor : pointer;
}
.topnav {
overflow : hidden;
background-color : #e9e9e9;
}
.topnav a:hover {
background-color : #ddd;
color : black;
}
.topnav a {
float : left;
display : block;
color : black;
text-align : center;
padding : 14px 16px;
text-decoration : none;
font-size : 17px;
}
.topnav a.active {
background-color : #2196F3;
color : white;
}
.topnav input[type="text"] {
float : right;
padding : 6px;
border : none;
margin-top : 8px;
margin-right : 16px;
font-size : 17px;
}
nav ul {
font-weight : bold;
list-style : none;
text-align : center;
}
nav ul li a {
float : right;
padding : 20px;
color : black;
text-decoration : none;
display : block;
}
nav ul li a:hover {
background : #111;
border-radius : 10px;
color : white;
}
#main {
width : 446px;
padding : 10px;
color : black;
border-left : 2px solid;
border-right : 2px solid;
background-image : url(images/imagethree.jpg);
}
#main p {
text-indent : 1.5em;
}
div {
text-align : justify;
text-justify : inter-word;
text-indent : 0.5em;
}
label {
width : 240px;
display : inline-block;
text-align : right;
}
figure {
padding-top : 10px;
text-align : center;
}
figcaption {
font-style : italic;
}
section#right {
padding : 0 15px 0 15px;
}
aside {
border : rgb(153, 0, 153) solid 1px;
border-radius : 20px;
box-shadow : 5px 5px 10px rgb(131, 131, 131) inset, -5px -5px 10px rgb(131, 131, 131) inset, -5px 5px 25px rgb(51, 51, 51);
margin : 15px 0;
width : 100%;
overflow : auto;
}
aside#current {
background-color : rgb(218, 210, 218);
}
aside#current p {
border-left : 4px solid rgb(153, 0, 153);
font-size : 0.9em;
}
aside p:last-of-type {
margin-bottom : 25px;
}
aside h1 {
background-color : rgb(153, 0, 153);
border-radius : 10px;
color : white;
font-size : 0.9em;
text-align : center;
margin : 10px;
}
#table1 {
border-collapse : separate;
border-spacing : 15px;
}
#table2 {
border-collapse : separate;
border-spacing : 15px 50px;
}
aside h2 {
color : black;
text-align : left;
font-size : 0.9em;
line-height : 0.95;
margin : 15px;
}
aside p {
border-left : 4px solid rgb(255, 202, 255);
font-size : 0.7em;
padding : 0 0 0 5px;
margin : 10px 25px;
}
aside#future {
background-color : white;
}
aside {
width : 200px;
height : 550px;
object-fit : cover;
margin : 0 5px 0 2px;
padding : 10px;
object-fit : cover;
}
img {
border : 0;
vertical-align : middle;
margin-right : 10px;
margin-bottom : 5px;
border : black solid 1px;
padding : 1px;
}
figure img {
display : block;
width : 100%;
}
figure {
border-style : solid;
border-width : 0;
border-image : url(tb_border.png) 50 repeat;
margin : 20px auto 0;
opacity : 1;
width : 40%;
}
article {
background : url(tb_back2.png) bottom right /15% no-repeat content-box, url(tb_back3.png) bottom left /15% no-repeat content-box, url(tb_back4.png) 100% /cover no-repeat, rgb(211, 211, 211);
box-shadow : -10px -10px 25px rgb(71, 71, 71) inset, 10px 10px 25px rgb(71, 71, 71) inset;
}
article header h1 {
text-shadow : 2px 2px 1px rgb(181, 211, 181), 5px 5px 25px rgb(21, 21, 21, 0.66);
}

article review only{ 
   background: white;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
}

article section, article nav.vertical {
   -webkit-flex: 1 1 300px;
   flex: 1 1 300px;
}

section p {
   margin: 20px;
}

/*Section 1 styles */

article section:nth-of-type(1) {
   background-color: #D4e09B;
}

/* Section 2 styles */

article section:nth-of-type(2) {
   background-color: #C8e9A0;
}

article img review only {
   display: block;
   width: 100%;
}

aside section { 
   display: block;
}

aside, img colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

/* img Layout Styles review only */

form {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

form > fieldset {
	background-color: rgb(241, 232, 181);
	border-radius: 20px;
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}

div.formRow {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.formRow > *  {
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}

style {
float : right;
}
figure {
margin : 0;
float : left;
}
aside {
width : 500px;
margin : 0 5px 0 5px;
padding : 10px;
}
aside p {
font-style : italic;
font-size : 0.9em;
}
aside {
background : radial-gradient(white, rgb(151, 222, 151), rgb(81, 125, 81));
border : rgb(45, 93, 62) double 4px;
border-radius : 30px;
box-shadow : 0 0 20px 10px rgb(51, 91, 51, 0.4);
}
aside {
background-color : rgb(175, 207, 167, 0.6);
float : left;
margin-right : 15%;
padding : 20px;
width : 86%;
}
aside h1 {
color : rgb(248, 237, 212);
font-weight : normal;
font-size : 2em;
margin-bottom : 10px;
text-align : center;
}
image {
max-height : 100%;
max-width : 100%;
}
h2 {
font-size : 1.4em;
text-align : center;
padding-bottom : 0.5em;
padding-top : 0.5em;
color : black;
}
h3 {
text-align : center;
padding-bottom : 0.5em;
padding-top : 0.5em;
color : black;
}
footer {
background : linear-gradient(345deg, rgb(172, 232, 172), rgb(21, 35, 21) 80%);
}
footer {
width : 910px;
margin : 0;
padding : 10px;
background-color : gray;
clear : both;
color : black;
font-weight : bold;
text-align : center;
border-bottom-left-radius : 25px;
border-bottom-right-radius : 25px;
}
#wrapper {
width : 930px;
margin-bottom : 10px;
border : solid 2px;
border-radius : 25px;
}
footer a:link {
color : black;
text-decoration : none;
}
footer a:visited {
color : navy;
background-color : grey;
text-decoration : black;
}
footer a:visited, footer a:link {
color : black;
}
footer a:hover {
text-decoration : underline;
color : white;
}